
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>TECH WORLD by vereniliana</title>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css?v=374555d2b46f2bf360b98ee4686675c920e0fd19">
    <script src="/assets/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">TECH WORLD</h1>
        <p class="header"></p>

        <ul>
          
          <li><a class="buttons github" href="https://github.com/vereniliana/vereniliana.github.io">View On GitHub</a></li>
        </ul>

        

        
          <ul>
            <li><a class="buttons github" href="https://github.com/vereniliana">GitHub Profile</a></li>
          </ul>
        
        
        <ul>
            <li><a class="buttons github" href="https://vereniliana.github.io">Home</a></li>
          </ul>
      </header>

      <section>
        <h2 id="digital-signature">Digital Signature</h2>

<p>Digital signature is a cryptographic value that is calculated from the data and a secret key known only by the signer. Digital signatures are based on …</p>

<p><a href="https://vereniliana.github.io/digitalsignature">read more…</a></p>

      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
